<!DOCTYPE html>
<html lang="en-us" id="extr-page">
<head>
<meta charset="UTF-8">
<title>登陆</title>
<meta name="description" content="">
<meta name="author" content="dream.li">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- #CSS Links -->
</head>
<body class="animated fadeInDown">

	<div class="well no-padding">
		<form action="authentication/login" id="login-form" method="post"
			class="smart-form client-form">
			<header> 登 陆 </header>
			<fieldset>
				<section>
					<label class="label">用户名</label> <label class="input"> <i
						class="icon-append fa fa-user"></i> <input type="text"
						name="username"> <b class="tooltip tooltip-top-right"><i
							class="fa fa-user txt-color-teal"></i> 请输入用户名</b>
					</label>
				</section>

				<section>
					<label class="label">密码</label> <label class="input"> <i
						class="icon-append fa fa-lock"></i> <input type="password"
						name="password"> <b class="tooltip tooltip-top-right"><i
							class="fa fa-lock txt-color-teal"></i> 请输入密码</b>
					</label>
					<div class="note">
						<a href="forgotpassword.html"> 忘记密码?</a>
					</div>
				</section>

				<section>
					<label class="checkbox"> <input type="checkbox"
						name="remember" checked=""> <i></i>记住登陆
					</label>
				</section>
			</fieldset>
			<footer>
				<button type="submit" class="btn btn-primary">登陆</button>
			</footer>
		</form>
	</div>
</body>
</html>